.App {
  text-align: center;
}

.App-base {
  
  background-color: #ffffff;
  margin-top: 20px;
  font-size: calc(10px + 2vmin);
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Head{
  background-color: purple;
  height: 50px;
  color: white;
  font-size: 32px;
  font-weight: bolder;
  
}

